# FOLDER =======================================================================

node_modules/
dist/
ignore/
.turbo/
completions/
docs/
.turbo/
.git/
.claude
.ignore/

# FILES ========================================================================

.env.e2e
CLAUDE.md
