# FOLDER =======================================================================

node_modules/
dist/
ignore/
.turbo/
completions/
docs/
.turbo/

# FILES ========================================================================

.env.e2e
