# FOLDERS ======================================================================

.changeset/
.github/
.husky/
.vscode/
src/
tests/
docs/
completions/
scripts/

# FILES ========================================================================

.env.e2e.example
CLAUDE.md
# package.json
.commitlintrc
.editorconfig
.lintstagedrc.json
biome.json
# CHANGELOG.md
pnpm-lock.yaml
tsconfig.json
# README.md
turbo.json